
body{
    background-image:url('./forgot.png.jpg');
    background-size:cover;
    font-family:lucida-bright;
}
.text{
    color:red;
    opacity:80%;
    font-size:25px;
}
.input{
    border-top: 0px ;
    border-left: 0px ;
    border-right: 0px ;
    border-bottom: 3px rgb(17, 100, 156) solid;
}
.login-container{
    margin-top:10px;
    margin-left:80px;
    margin-bottom:20px;
    background-color: white;
    box-shadow: 5px 10px;
    border-radius:12px;
    opacity:80%;
}
.login-link{
    margin-left:185px;
}
#emailErrorSignup{
    color:orange;
}
#passwordErrorSignup{
    color:orange;
}
#cpasswordErrorSignup{
    color:orange;
}
