
        body{
            background-image: linear-gradient(to right,#d3f5cf ,#a8dbfa ,#635ee2);
            background-size:cover;
            font-family:lucida-bright;
        }
        .text{
            color:red;
            opacity:80%;
            font-size:25px;
        }
        .input{
            border-top: 0px ;
            border-left: 0px ;
            border-right: 0px ;
            border-bottom: 3px red solid;
        }
        .login-container{
            margin-top:80px;
            margin-left:80px;
            background-color: white;
            box-shadow: 5px 10px;
            border-radius:12px;
            opacity:80%;
        }
        .login-link{
            margin-left:185px;
        }
        #emailErrorSignup{
            color:orange;
        }
        #passwordErrorSignup{
            color:orange;
        }
        